@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik/Rubik-Italic.ttf');    
  font-weight:normal;    
  font-style: normal;
}

@font-face {
	font-family: Staatliches;
	src: url("../fonts/Staatliches/Staatliches-Regular.ttf");
}