.footer {
	padding: 20px;
	background: $green-light;
	margin-top: 5vw;
	
	&--list {
		list-style: none;
	}
	&--item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
			.fa {
			margin-right: 5px;
			font-size: 20px;
			width: 5%;
			text-align: center;
			color: $blue;
		}
	}

	&--logo {
		display: flex;
    justify-content: center;
    align-items: center;
	}
	&--brand {
    
    // height: 100%;
    font-size: 5rem;
    color: $blue;
    &:hover {
    	text-decoration: none;
    	color: darken($blue, 10%);
    }
	}
}