*,
*::before,
*::after {
	box-sizing: border-box;
}

.section {
	margin-top: 90px;
}

// class para a abretura do menu
body {
	&.open {
		overflow: hidden;
		&::before {	
			content: '';
			position: fixed;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  z-index: -1;
		  background-color: #000;
		  opacity: 0.5;
		}
	}
}