@import "setup";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "variables";
@import "fonts";
@import "global";

@import "header";
@import "footer";

@import "hero";
@import "project/box-img";
@import "project/trip";
@import "project/orcamento";
@import "project/about";
@import "destino-detalhe";