.about {
	.box-img {
		&--image {
			// max-height: 350px;
			margin: 0 1rem 0 0;
			float: left;
			img {
				max-width: 100%;
				max-height: 350px;
			}
		}
		@media (max-width: 575px) {
			&--image {
				margin-bottom: 10px;
			}
		}
	}
}