.trip {
	padding: 20px;
	// background: linear-gradient(180deg,#3cecc2,#343944);

	.card {
		margin-bottom: 20px;
		&-title {
			font-family: 'Rubik-Regular';
			font-weight: normal;
			color: $black;
			font-size: 22px;
		}
		.btn {
			background: $blue;
			border: 1px solid $blue;
		}
	}
	&--item {
   	border: 1px solid rgba(0,0,0,.125);
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
	}
	&--image {
		max-width: 100%;
	}
	&--detail {
		padding: 1.25rem;
	}
	&--precos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	  padding: 2vw;
	}
  &--text {
		font-size: 25px;
		font-weight: 600;
	}
}