.trip {
	padding: 20px;
	// background: linear-gradient(180deg,#3cecc2,#343944);

	&--item {
   	border: 1px solid rgba(0,0,0,.125);
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
	}
	&--image {
		max-width: 100%;
	}
	&--detail {
		padding: 1.25rem;
	}
	&--title {
		font-family: 'Rubik-Regular';
		font-weight: normal;
		color: $black;
		font-size: 22px;
	}
}