.trip {
	padding: 20px;
	// background: linear-gradient(180deg,#3cecc2,#343944);

	&--item {
    border: 1px solid transparent;
    background-color: $light-blue;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    &:hover {
    	text-decoration: none;
    	background-color: darken($light-blue, 20%);
    	border: 1px solid darken($light-blue, 20%);
  	}
	}
	&--image {
		// border-top: 1px solid $dark-orange;
		img {
			max-width: 100%;
		}
	}
	&--title {
		font-family: 'Rubik-Regular';
		font-weight: normal;
		color: $black;
		font-size: 22px;
	}
}