<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>XP Tour</title>
	<link rel="stylesheet" href="css/main.css">

</head>
	<body>
		<header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand" href="#">XP<small>tour</small></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse header--nav" id="menu-principal">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Sobre</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Contato</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Viagens</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</header>

		<div class="container">
			<h1>teste</h1>
			<button class="btn">test</button>
		</div>



		<script src="js/popper.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>